.button-get-in {
  background-color: white;
  color: #FFD43D;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  height: 45px;
  margin: 5px 5vw;
  padding: 7px;
  width: 170px;
  font-size: x-large;
};

.button-get-in:hover {
  background-color: #FFD43D;
  color: white;
  cursor: pointer;
};
