* {
  margin: 0;
  padding: 0;
}

.header {
  height: 15vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #ffd43d;
  background-color: #2b475e;
  align-items: center;
}

.header img {
  width: 15vh;
  height: 15vh;
  margin-left: 20px;
}

.username {
  font-size: 25px;
  margin-right: 80px;
}
